.content {
	margin: auto;
	margin-left: 25vw;
	margin-right: 25vw;
}

.content h1 {
	text-align: center;
}

@media screen and (max-width: 600px) {
	.content{	
		margin-left: 5vw;
		margin-right: 5vw;}
}